h1, h2, h3, h4, h5, h6, 
p, li, a, button {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

footer,
.hero {
    background-color: #1F2937;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text,
.header .link-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    text-shadow: 3px 3px 5px #3882F6;
}

.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    padding: 20px 200px;
    

    
}

.header.links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 50px
}

.btn {
    background: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    border-radius: 4px;
    padding: 6px 28px;
    font-weight: bold;
}

.btn1{
    border-style: none;
}
.hero-main {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding: 0;
    
}

.hero-main container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.container.hero.main-text {
    margin-right: 100px;
    flex: 1;
}
.main-text,
.secondary-text {
    margin: 0;
    padding: 0;
}

.hero-main img {
    min-width: 600px;
    max-height: 300px;
    
}

.section2 {
    height: 400px;
    padding: 0px 200px;
    padding-bottom: 60px;

}

.section-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 20px;
}

.container-info {
    display: flex;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.container-info div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-info img {
    flex: 0 1 0;
    height: 200px;
    width: auto;
}

.container-info p {
    padding: 0 20px;
}

.section3 {
    background-color: #E5E7EB;
}